page-home {
#map{
    height: 100%;
    width: 100%;
    
}
}

#button {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 20px 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

#appname {
    font-size: 64px;
    color: red;
}

